# Entornos virtuales
.venv/
env/
venv/
.env

# Archivos de la base de datos local y archivos temporales
*.sqlite3
*.db
__pycache__/
*.pyc

# Archivos de sistema y logs
.DS_Store
*.log

# Opcional: Ignorar el archivo CSV crudo si es muy pesado para github
# archive/Amazon Sale Report.csv
